/**
 * :after clearfix, no hidden overflow
 * @link https://www.drupal.org/node/778998
 */
%clearfix {
  &:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
