// fieldset for distinction between regular ief and js-added
fieldset.ief-form {
  @extend %ief-buttons;
  padding: $ds;
  background-color: $color-table-even;

  .field-label label {
    font-size: $font-size-small;
  }

  .form-item {
    margin-bottom: 0;
  }
}
