/** @group pdf */
$pdf-spacing: 75px;

/** @group pdf */
$pdf-border-color: #646464;

/** @group pdf */
$pdf-table-border-color: #000;

/** @group pdf */
$pdf-table-border: 2px solid $pdf-table-border-color;
